.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  padding: 20px 40px 20px 348px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.header_text {
  font-size: 28px;
  font-weight: 400;
  line-height: 24px;
}

.header_login {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header_login :first-child:hover {
  cursor: pointer;
}

.header_login:nth-child(2):hover {
  cursor: pointer;
}

.header_logo {
  display: none;
}

@media (max-width: 1000px) {
  .header_container {
    padding: 20px 16px;
    height: auto;
  }
  .header_text {
    display: none;
  }
  .header_logo {
    display: block;
  }
}