<section class="header_container">
  <img
    class="header_logo"
    src="./assets/img/header/header_mobile_logo.png"
    alt="Logo"
  />

  <p class="header_text">Kanban Project Management Tool</p>
  <div class="header_login">
    <img src="./assets/img/header/property_default.png" alt="Fragezeichen" />
    <img onclick="toggleSubMenu()" src="./assets/img/header/property_user_default.png" alt="User" />
  </div>
</section>

<section class="header_submenu">
  <div class="header_submenu_container w3-center w3-animate-right">
    <a href="#">Legal Notice</a>
    <a href="#">Privacy Policy</a>
    <a href="./login.html">Log out</a>
  </div>
</section>
