:root {
  --main_color: #2a3647;
  --main_color_lighter: #354458;
  --main_color_dark: #091931;
  --background_main: #f6f7f8;
  --card_color: #ffffff;
  --lightgray_font: #a8a8a8;
  --placeholder_color: #d1d1d1;
  --lightblue_font: #29abe2;
  --main_font: "Inter", sans-serif;
  --backup_font: system-ui, sans-serif;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 96px;
  padding: 0px 40px 0px 348px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.header_text {
  font-size: 28px;
  font-weight: 400;
}

.header_login {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header_login :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: var(--lightblue_font);
  font-weight: bold;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 50%;
}

.header_login :first-child:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.header_login :nth-child(2):hover {
  cursor: pointer;
  background-color: #e2e6ec;
}

.back_color {
  background-color: #e2e6ec;
}

.header_logo {
  display: none;
}

/********** SUBMENU **********/

.submenu_toggle {
  padding: 0;
}

.header_submenu {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}

.header_submenu_container {
  position: absolute;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 150px;
  height: 160px;
  margin-right: 16px;
  border: 1px solid var(--main_color);
  border-radius: 20px 0px 20px 20px;
  background-color: var(--main_color);
}

.header_submenu_container.show {
  display: flex;
}

.header_submenu_container a {
  padding: 8px 16px;
  font-family: var(--main_font);
  text-decoration: none;
  color: var(--lightgray_font);
}

.header_submenu_container a:hover {
  cursor: pointer;
  background-color: var(--main_color_lighter);
  color: var(--card_color);
}

.help_mobile {
  display: none;
}

.log_out:hover {
  color: var(--lightblue_font) !important;
}

/********** MEDIA QUERY **********/

@media (max-width: 1000px) {
  .header_container {
    padding: 20px 16px;
    height: auto;
  }

  .header_text {
    display: none;
  }

  .header_logo {
    display: block;
  }

  .help_desktop {
    display: none;
  }

  .help_mobile {
    display: block;
  }
}
