.side_bar_test {
  width: 232px;
  height: 100vh;
  background-color: black;
}

textarea {
  resize: vertical;
}

#create_popup {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
}

.create_card {
  background-color: #2a3647;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 24px;
  border-radius: 16px;
}

main {
  display: flex;
}

.header {
  width: 100%;
  height: 96px;
}

h1 {
  color: #000;
  margin: 0px;
  margin-top: 48px;
  margin-bottom: 8px;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.side_bar_container {
  position: relative;
  max-width: 200px;
  min-width: 200px;
  width: 100%;
  height: 100vh;
}

.break_line {
  width: 1px;
  background-color: #d1d1d1;
}

.add_task_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.prio_category {
  display: flex;
  gap: 16px;
}

.prio_category h2 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.prio_category_span {
  display: flex;
  padding: 4px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.prio_category_span:hover {
  box-shadow: -2px 6px 2px 1px rgba(0, 0, 0, 0.1);
}

.urgent {
  background-color: #ff3d00;
}

.urgent:hover {
  box-shadow: none;
}

.medium {
  background-color: #ffa800;
}

.medium:hover {
  box-shadow: none;
}

.low {
  background-color: #7ae229;
}

.low:hover {
  box-shadow: none;
}

.prio_category_span span {
  display: flex;
  align-items: center;
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  display: flex;
  padding: 12px 21px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--main_font);
}

.input[type="date"]  {
  display: inline-table;
  padding: 12px 21px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--main_font);
}

.select {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background: #fff;
  padding: 12px 21px;
  font-family: var(--main_font);
}

.required_char {
  color: #ff8190;
}

.add_task_footer {
  display: flex;
  justify-content: space-between;
}

.form_content {
  display: flex;
  gap: 32px;
}

.form_content h2 {
  margin: 16px;
}

.form_button_container {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.form_button_clear {
  border-radius: 10px;
  border: 1px solid #2a3647;
  background: #f6f7f8;
  width: 90px;
  height: 48px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.form_button_clear:hover {
  cursor: pointer;
  color: var(--lightblue_font);
  border-color: var(--lightblue_font);
  box-shadow: none;
  box-shadow: -1px 5px 5px 0px #c2c2c2;
}

.form_button_create {
  border-radius: 10px;
  background: #2a3647;
  color: #fff;
  width: 177px;
  height: 48px;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
}

.form_button_create:hover {
  cursor: pointer;
  background-color: var(--lightblue_font);
  border-color: var(--lightblue_font);
  box-shadow: none;
  box-shadow: -1px 5px 5px 0px #c2c2c2;
}

.subtask_input {
  display: flex;
  border: 1px solid #d1d1d1;
  padding-right: 16px;
  background-color: white;
  border-radius: 10px;
}

.subtask_input input {
  flex-grow: 2;
  border: none;
}

.subtask_input:focus-within {
  border: 1px solid black;
}

.subtask_input input:focus {
  outline: none;
}

.subtask_input span {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  border-radius: 40px;
  cursor: pointer;
}

.subtask_input button {
  border: none;
  background-color: white;
  font-size: 32px;
  font-weight: 300;
  border-radius: 40px;
  cursor: pointer;
}

.subtask_input span:hover {
  background-color: lightgray;
}

.subtask_input span:hover button {
  background-color: lightgray;
}

#subtask_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  gap: 8px;
  max-height: 100px;
  overflow-y: auto;
}

#subtask_content p {
  width: 80%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 4px;
  border-radius: 8px;
}

#subtask_content p span {
  display: flex;
  align-items: center;
  gap: 8px;
}

#subtask_content p:hover {
  background-color: lightgray;
}

.subtask_icon {
  display: none;
  width: 20px;
  transition: scale 80ms ease-in-out;
}

.edit_icon {
  width: 20px;
}

.icon:hover {
  scale: 1.1;
}

#subtask_content p:hover .icon {
  display: flex;
}

.mobile_sidebar_container {
  display: none;
  width: 100%;
  height: 90px;
  min-height: 90px;
}
