.container {
    display: flex;
}

.side_bar_position_container {
    position: relative;
    min-height: 100vh;
    width: 200px;
    min-width: 200px;

}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
}

.headline_section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.board_content {
    padding: 0px 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.headline_input_container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.headline_input {
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
}

.headline_input input, .headline_input input:focus {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0px 8px;
}

.br {
    min-width: 1px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}

.add_task_button {
    color: white;
    background-color: rgb(42, 54, 71);
    height: 32px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 8px;
}

.add_task_button img {
    width: 32px;
}

.category_section {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex: 1;
}

.category {
    width: 240px;
    display: flex;
    flex-direction: column;
}

.category_headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    color: #42526E;
    margin-bottom: 16px;
}

.category_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}

.card {
    background-color: white;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
}

.card h2 {
    font-size: 24px;
    margin: 0;
}

.card_headline {
    padding-top: 8px;
}

.card_headline span {
    background-color: rgb(0, 56, 255);
    color: white;
    padding: 8px;
    border-radius: 8px;
}

.card_description {
    color: rgb(168, 168, 168);
}

.card_subtasks progress{
    width: 50%;
}

.card_subtasks label {
    font-size: 14px;
}