/********** ALLGEMEIN **********/

:root {
  --main_color: #2a3647;
  --main_color_lighter: #354458;
  --main_color_dark: #091931;
  --background_main: #f6f7f8;
  --card_color: #ffffff;
  --lightgray_font: #a8a8a8;
  --placeholder_color: #d1d1d1;
  --lightblue_font: #29abe2;
  --main_font: "Inter", sans-serif;
  --backup_font: system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main_font);
  background-color: var(--background_main);
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

/* div {
    border: 1px solid tomato;
  } */

/********** EDIT CONTACT **********/

.edit_contact_card {
  display: flex;
  margin: 8px;
  width: 1200px;
  height: 600px;
  box-sizing: border-box;
}

.card_head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: auto;
  padding: 60px 0px 60px 40px;
  border: 1px solid var(--main_color);
  border-radius: 30px 0px 0px 30px;
  background-color: var(--main_color);
  box-sizing: border-box;
}

.card_head h1 {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--card_color);
  font-size: 64px;
}

.card_head p {
  margin: 0;
  margin-bottom: 8px;
  font-size: 27px;
  letter-spacing: 1px;
  color: var(--card_color);
}

.card_main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  padding: 60px 40px 60px 0px;
  border: 1px solid var(--main_color);
  border-radius: 0px 30px 30px 0px;
  background-color: var(--card_color);
  box-sizing: border-box;
}

.card_main_container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card_main_close {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.card_main_close img:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--placeholder_color);
}

/***** INPUT FIELDS *****/

.card_main_form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.card_main_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 6px 21px 6px 21px;
  background-color: var(--card_color);
  border: 1px solid var(--placeholder_color);
  border-radius: 8px;
  box-sizing: border-box;
}

.card_main_input:hover {
  border-color: var(--lightblue_font);
}

.card_main_input input {
  flex: 1;
  height: 24px;
  border: none;
}

.card_main_input input::placeholder {
  font-size: 20px;
  color: var(--placeholder_color);
  transform: translateY(5px);
}

.card_main_input input:focus {
  outline: none;
}

.card_main_input input:focus::placeholder {
  color: transparent;
}

.card_main_input input:hover,
.card_main_input img:hover,
.cancel_btn:hover,
.create_btn:hover {
  cursor: pointer;
}

/***** INPUT BUTTON *****/

.card_main_btn {
  display: flex;
  height: 48px;
  gap: 18px;
}

.cancel_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main_color);
  border-radius: 8px;
  font-size: 21px;
  color: var(--main_color);
  background-color: var(--card_color);
}

.create_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px, 24px, 15px, 24px;
  border: 1px solid var(--main_color);
  border-radius: 8px;
  font-size: 21px;
  color: var(--card_color);
  background-color: var(--main_color);
}

.cancel_btn img,
.create_btn img {
  width: 24px;
  height: 24px;
}

.cancel_btn:hover {
  cursor: pointer;
  color: var(--lightblue_font);
  border-color: var(--lightblue_font);
  box-shadow: none;
  box-shadow: -1px 5px 5px 0px #c2c2c2;
}

.create_btn:hover {
  cursor: pointer;
  background-color: var(--lightblue_font);
  border-color: var(--lightblue_font);
  box-shadow: none;
  box-shadow: -1px 5px 5px 0px #c2c2c2;
}
