:root {
  --main_color: #2a3647;
  --main_color_lighter: #354458;
  --main_color_dark: #091931;
  --background_main: #f6f7f8;
  --lightgray_font: #c0c0c0;
  --lightblue_font: #29abe2;
  --main_font: "Inter", sans-serif;
  --backup_font: system-ui, sans-serif;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--background_main);
  z-index: 900;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fade-out {
  opacity: 0.5;
}

.landing_img1 {
  position: absolute;
  opacity: 0;
  animation: fadeInLeft 1s ease forwards;
  animation-delay: 1s;
}

.landing_img2 {
  position: absolute;
  top: -80px;
  left: -30px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.landing_page_desktop {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%) scale(1);
  animation: moveTopLeft 1s ease-out forwards;
  animation-delay: 2.5s;
}

.landing_page_mobile {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

/********** ANIMATION **********/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveTopLeft {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    top: 5rem;
    left: 1.5rem;
    transform: translate(0, 0) scale(0.3);
  }
}

/********** ANIMATION **********/



/********** MEDIA QUERY *********/

@media (max-width: 1000px) {
  .landing_page_desktop {
    display: none;
  }

  .landing_page_mobile {
    display: flex;
    background-color: var(--main_color);
  }

  @keyframes moveDiagonal {
    0% {
      transform: translate(0, 0) scale(1);
    }
    100% {
      transform: translate(-40vw, -45vh) scale(0.65);
    }
  }

  @keyframes resizeImage {
    0% {
      width: 300px;
      height: 320px;
    }
    100% {
      width: 100px;
      height: 120px;
    }
  }

  .landing_page_mobile img {
    animation: moveDiagonal 2s forwards, resizeImage 2s forwards;
  }
}
