.side_bar_container {
  position: relative;
  max-width: 200px;
  min-width: 200px;
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
}

.container {
  width: min(90%, 1440px);
  margin-inline: auto;
  margin-bottom: 100px;
}

.container a {
  word-wrap: break-word;
}

.container_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.container_head a img:hover {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.05);
}

li::marker {
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
}
h3 {
  margin: 0;
}

@media (max-width: 1000px) {
  .side_bar_container {
    min-width: 0;
    width: 0;
  }
}
