.mobile_headline_input_container {
  display: none;
  align-items: center;
  gap: 24px;
  width: 100%;
  margin-bottom: 16px;
}

.mobile_headline_input {
  display: flex;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
  width: 100%;
}

.mobile_headline_input input,
.mobile_headline_input input:focus {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0px 8px;
  width: 100%;
}

@media (max-width: 1325px) {
  .category {
    width: 200px;
  }
}

@media (max-width: 1170px) {
  .category_section {
    flex-direction: column;
    align-items: center;
  }

  .category {
    width: 240px;
  }
  .category {
    width: 100%;
  }

  .card {
    width: 240px;
    min-width: 240px;
  }
}

@media (max-width: 1000px) {
  .category_section {
    align-items: flex-start;
  }
  .side_bar_position_container {
    width: 0;
    min-width: 0;
  }
  .category_content {
    flex-direction: row;
    overflow-x: auto;
    max-width: 800px;
  }

  .card_headline img {
    display: flex;
  }

  .headline_section {
    margin-top: 24px;
    align-items: center;
  }

  .headline_section h1{
    margin: 0;
  }

  .headline_input {
    display: none;
  }

  .mobile_headline_input_container {
    display: flex;
  }
}

@media (max-width: 900px) {
  .category_content {
    max-width: 600px;
  }
}

@media (max-width: 700px) {
  .category_content {
    max-width: 400px;
  }

  #card_popup_content {
    margin: 0 24px;
  }
}

@media(max-width: 550px) {
    #subtask_content_edit {
        font-size: 11px;
    }
}

@media(max-width: 500px) {
    .category_content {
        max-width: 300px;
    }

    .add_task_button span {
        display: none;
    }
}

@media(max-width: 480px) {
    .overlay h1 {
        font-size: 40px;
    }
}

@media(max-width: 450px) {
    .prio_category h2{
        font-size: 10px;
    }

    .prio_category span {
        display: flex;
        align-items: center;
    }

    .prio_category img {
        width: 16px;
    }

    .input_edit {
        font-size: 14px;
    }
}

@media(max-width: 400px) {
    .category_content {
        max-width: 266px;
    }

    .overlay {
        padding: 16px 16px !important;
    }

    #card_popup_content {
        margin: 0 24px;
    }
}

@media(max-width: 380px) {
    .board_content {
        padding: 0px 16px;
    }

    .overlay h1 {
        font-size: 32px;
    }

    .prio_category img {
        width: 10px;
    }
}